* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #eeeeee;
}

body {
  background-color: #e5e5e5;
  color: #eeeeee;
}

h1 {
  color: #000000;
  font-size: 6rem;
  text-align: center;
  margin: 2rem auto;
}

.book__stats-bg {
  background-color: #11468f;
}

.book__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.1rem;
  max-width: 1222px;
  margin: 0 auto;
  padding: 3rem;
  font-size: 1.5rem;
}

.book__stats h3 {
  margin: 0 1rem;
  word-spacing: 0.5rem;
}

div[class^='book__stats-info-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line::before {
  content: '|';
}

.book__stats-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.add {
  cursor: pointer;
  color: #041562;
  font-size: 2.1rem;
  background-color: #e5e5e5;
  border-radius: 0.5rem;
}

.add h3 {
  display: inline-block;
}

.add:hover {
  color: #da1212;
}

.spin {
  font-size: 2.5rem;
  display: inline-block;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.add:hover .spin {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.shelf {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 3% auto;
  max-width: 1122px;
  justify-items: center;
}

@media screen and (max-width: 1215px) {
  .shelf {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 810px) {
  .shelf {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.book__card {
  background: -webkit-gradient(linear, right bottom, left top, from(#041562), to(#11468f));
  background: linear-gradient(to left top, #041562, #11468f);
  border-radius: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  padding: 4rem 0;
  width: 36rem;
  min-height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-shadow: 0 0 2px #000000;
          box-shadow: 0 0 2px #000000;
}

@media screen and (max-width: 810px) {
  .book__card {
    width: 35rem;
    min-height: 31rem;
  }
}

.book__card h2 {
  font-size: 2rem;
}

.book__card p {
  font-size: 1.8rem;
}

.book__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60%;
}

.book__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.book__button-container button {
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  color: #000000;
  padding: 1rem 0;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: background 250ms ease-in-out, color 350ms ease-in;
  transition: background 250ms ease-in-out, color 350ms ease-in;
}

.book__button-container .remove button {
  background-color: #e5e5e5;
}

.read {
  background-color: #91c483;
}

.not-read {
  background-color: #da1212;
}

.book__pop {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.book__pop-card {
  background-color: #11468f;
  border-radius: 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-x: hidden;
  width: 30%;
  min-width: 40rem;
}

.book__pop-info {
  width: 80%;
  margin: 0 auto 2rem;
}

.book__pop-info label {
  font-size: 2rem;
}

.book__pop-info input {
  width: 70%;
  display: block;
  padding: 1.5rem;
  font-size: 1.5rem;
  margin: 2rem auto;
}

.book__pop-info h2 {
  margin: 4rem;
  text-align: center;
  font-size: 3rem;
}

.book__pop-info form {
  text-align: center;
}

.book__info-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 25px;
}

.book__info-read-slider {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  background-color: #eeeeee;
  border-radius: 2rem;
  cursor: pointer;
}

.book__info-read-slider:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #eeeeee;
  -webkit-box-shadow: 0 0 5px #000000;
          box-shadow: 0 0 5px #000000;
  left: 1px;
  bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.book__info-read-checked:checked + .book__info-read-slider:before {
  left: 30px;
}

.book__info-read-checked:checked + .book__info-read-slider {
  background-color: #91c483;
}

.book__info-read-checked:focus + .book__info-read-slider {
  -webkit-box-shadow: 0 0 3px #a3a8f0;
          box-shadow: 0 0 3px #a3a8f0;
}

.book__info-read-checked {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
}

input[type='submit'] {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #eeeeee;
  color: #000000;
  padding: 1rem 0;
  font-size: 2rem;
  text-decoration: none;
}

.center {
  position: relative;
}

@media (hover: hover) {
  .read:hover {
    background-color: #da1212;
  }
  .not-read:hover {
    background-color: #91c483;
  }
  input[type='submit']:hover {
    background-color: #91c483;
  }
}

@media (hover: none) {
  .read:active,
  .not-read:active,
  input[type='submit']:active {
    color: inherit;
  }
}
/*# sourceMappingURL=main.css.map */