* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

button,
fieldset,
input,
legend,
select,
textarea {
	appearance: none;
	border: none;
	background-color: #eeeeee;
}

@mixin respond-screen-med {
	@media screen and (max-width: 1215px) {
		@content;
	}
}

@mixin respond-screen-sm {
	@media screen and (max-width: 810px) {
		@content;
	}
}

body {
	background-color: #e5e5e5;
	color: #eeeeee;
}

h1 {
	color: #000000;
	font-size: 6rem;
	text-align: center;
	margin: 2rem auto;
}

.book__stats-bg {
	background-color: #11468f;
}

.book__stats {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 2.1rem;
	max-width: 1222px;
	margin: 0 auto;
	padding: 3rem;
	font-size: 1.5rem;

	& h3 {
		margin: 0 1rem;
		word-spacing: 0.5rem;
	}
}
div[class^='book__stats-info-'] {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.line::before {
	content: '|';
}

.book__stats-info {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	line-height: 3rem;
}

.add {
	cursor: pointer;
	color: #041562;
	font-size: 2.1rem;
	background-color: #e5e5e5;
	border-radius: 0.5rem;
	h3 {
		display: inline-block;
	}
	&:hover {
		color: #da1212;
	}
}
.spin {
	font-size: 2.5rem;
	display: inline-block;
	transition: transform 1000ms ease;
}
.add:hover .spin {
	transform: rotate(90deg);
}

.shelf {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	margin: 3% auto;
	max-width: 1122px;
	justify-items: center;
	@include respond-screen-med {
		grid-template-columns: repeat(2, 1fr);
	}
	@include respond-screen-sm {
		grid-template-columns: 1fr;
	}
}
.book__card {
	background: linear-gradient(to left top, #041562, #11468f);
	border-radius: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	padding: 4rem 0;
	width: 36rem;
	min-height: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	box-shadow: 0 0 2px #000000;
	@include respond-screen-sm {
		width: 35rem;
		min-height: 31rem;
	}

	& h2 {
		font-size: 2rem;
	}

	& p {
		font-size: 1.8rem;
	}
}

.book__card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60%;
}

.book__button-container {
	display: flex;
	gap: 2rem;
	flex-direction: column;

	width: 50%;

	& button {
		cursor: pointer;
		display: inline-block;
		font-size: 1.5rem;
		color: #000000;
		padding: 1rem 0;
		border: none;
		border-radius: 10px;
		text-decoration: none;
		transition: background 250ms ease-in-out, color 350ms ease-in;
	}

	.remove {
		& button {
			background-color: #e5e5e5;
		}
	}
}
.read {
	background-color: #91c483;
}
.not-read {
	background-color: #da1212;
}

.book__pop {
	width: 100%;
	height: 100%;
	background-color: rgba($color: #ffffff, $alpha: 0.75);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.book__pop-card {
	background-color: #11468f;
	border-radius: 1.5rem;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-x: hidden;
	width: 30%;
	min-width: 40rem;
}

.book__pop-info {
	width: 80%;
	margin: 0 auto 2rem;

	& label {
		font-size: 2rem;
	}
	& input {
		width: 70%;
		display: block;
		padding: 1.5rem;
		font-size: 1.5rem;
		margin: 2rem auto;
	}
	& h2 {
		margin: 4rem;
		text-align: center;
		font-size: 3rem;
	}
	& form {
		text-align: center;
	}
}

.book__info-read {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 25px;

	&-slider {
		position: relative;
		display: inline-block;
		width: 5rem;
		height: 2.5rem;
		background-color: #eeeeee;
		border-radius: 2rem;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			width: 2rem;
			height: 2.5rem;
			border-radius: 50%;
			background-color: #eeeeee;
			box-shadow: 0 0 5px #000000;
			left: 1px;
			bottom: 0;
			transition: all 0.3s;
		}
	}

	&-checked:checked + &-slider:before {
		left: 30px;
	}

	&-checked:checked + &-slider {
		background-color: #91c483;
	}

	&-checked:focus + &-slider {
		box-shadow: 0 0 3px hsl(236, 72%, 79%);
	}

	&-checked {
		position: absolute;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		clip: rect(1px 1px 1px 1px);
	}
}

input[type='submit'] {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	width: 100%;
	background-color: #eeeeee;
	color: #000000;
	padding: 1rem 0;
	font-size: 2rem;
	text-decoration: none;
}

.center {
	position: relative;
}

@media (hover: hover) {
	.read:hover {
		background-color: #da1212;
	}
	.not-read:hover {
		background-color: #91c483;
	}

	input[type='submit']:hover {
		background-color: #91c483;
	}
}

@media (hover: none) {
	.read:active,
	.not-read:active,
	input[type='submit']:active {
		color: inherit;
	}
}
